<div class="container__big-card">
  <div class="big-card__picture">
    <img
      src="{{pictureCover}}"
      alt=""
      width="300px"
    >
  </div>

  <div class="container__big-card-title__big-card-description">
    <div class="big-card__title">
      <h1><a [routerLink]="['content', id]">{{cardTitle}}</a></h1>
    </div>

    <div class="big-card__description">
      <p>
        <a [routerLink]="['content', id]">
          {{cardDescription}}
        </a>
      </p>
    </div>
  </div>
</div>
